
<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<!-- Mirrored from www.coupdepates.fr/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Jan 2020 09:05:47 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <title>{% block title %}MIPA - Distributeur de produits surgelés {% endblock %}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link href="{{ asset('template/bundles/cdp/images/logo_fino.png') }}" rel="icon" />
    <link href="{{ asset('template/cache-buster-1570113083/bundles/cdp/css/styles.min.css') }}" media="" rel="stylesheet" type="text/css" /><script defer="defer" src="{{ asset('template/cache-buster-1556112614/bundles/senzocore/js/lib/polyfills/polyfills.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1561972607/bundles/senzocore/js/lib/polyfills/extensions.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1553600510/bundles/cdp/js/polyfills/svgxuse.min.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1553600510/bundles/cdp/js/polyfills/css-variables.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1556548469/bundles/cdp/js/libs/swiper.min.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1564649394/bundles/cdp/js/modules/beautified-select.js') }}"></script>
    <script>
        //<!--
        Object.defineProperty(window, "recaptcha_key_public", { value: "6Lelx6AUAAAAAK_5SBiXNy41lkBfBLw3nKMp-fNH" });    //-->
    </script>
    <script defer="defer" src="../www.google.com/recaptcha/api9881.js?render=6Lelx6AUAAAAAK_5SBiXNy41lkBfBLw3nKMp-fNH"></script><script defer src="bundles/cdp/js/compiled/model/Geo.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16084831-1"></script>
    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());


        gtag('config', 'UA-16084831-1', {"anonymize_ip":true});

    </script>
</head>
<body id="senzo_production">

<header class="header">

    <div class="header-bottom">
        <a href="index.html" class="logo">
            <img src="{{ asset('template/bundles/cdp/images/logo_fino.png') }}" width="120" height="20" alt="Logo FINO">
        </a>

        <!-- Hamburger menu -->
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <!-- End Hamburger menu -->

        <ul class="menu">
            <li>
                <a href="#" title="Histoire & Vision">Votre partenaire</a>
                <button class="toggle-accordion">
                    <svg class="icon-chevron">
                        <use xlink:href="{{ asset('template/bundles/cdp/images/sprite.svg#icon-chevron') }}"></use>
                    </svg>
                </button>

                <ul class="submenu">

                    <li>
                        <a href="{{ path('aproposbase') }}" title="Qui sommes nous">Qui sommes nous ?</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="{{ path('contactbase') }}" title="Contact">Contact</a>
            </li>
            <li class="mobile-links"></li>
        </ul>

        <ul class="menu-pictos">
            <li class="phone" data-content-popin-trigger="call-modal">
                <svg class="icons">
                    <use xlink:href="bundles/cdp/images/sprite.svg#icon-tel"></use>
                </svg>
            </li>
        </ul>
    </div>
</header>

<script defer src="{{ asset('template/bundles/cdp/js/compiled/lib/ReCaptcha.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/tool/debounce_event.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/model/Product.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/model/Recipe.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/ajax/search.js') }}"></script>

<script defer src="{{ asset('template/bundles/cdp/js/compiled/standalone/city_search_engine.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/standalone/city_search_engine_modal.js') }}"></script>

<script defer src="{{ asset('template/bundles/cdp/js/compiled/ajax/selection.js') }}"></script>

</div>
<script>
    "use strict";
    {
        const key = "gdpr-agreement-expires";
        const container = document.getElementById("gdpr-info-bar");

        if (+localStorage.getItem(key) < Date.now())
        {
            container.classList.add("is-visible");
            container.querySelector("button").addEventListener(
                "click",
                function ()
                {
                    container.classList.remove("is-visible");
                    const now = new Date();
                    const expires = new Date(now.getFullYear() + 1, now.getMonth(), now.getDate(), 0, 0, 0, 0);
                    localStorage.setItem(key, expires.getTime());
                }
            );
        }
    }
</script>

<div class="prehome-wrapper">
    <div class="prehome">
        <div class="prehome-header">


           <div class="prehome__col" style="background-image: url({{ asset('uploads/images/khra.png') }});">


               <button class="prehome__close js-prehome__close">
                   <svg class="icons">
                       <use xlink:href="bundles/cdp/images/sprite.svg#icon-close"></use>
                   </svg>
               </button>

               <h1 class="prehome__intro">
					<span class="prehome__intro-text">

						Produits<br />
GMS
					</span>

                   <span class="asterisme"></span>
               </h1>

               <div class="prehome__content">
                   <div class="prehome__i-am">Découvrez</div>

                   <div class="prehome__job">


                       <br />
                       nos produits<br />
                       suregelés
                       <span class="asterisme"></span>
                   </div>

                   <div class="prehome__action">
                       <a href="{{ path('afficheall_gms')}}" class="btn-ghost">Explorer</a>					</div>
               </div>
           </div>


           <div class="prehome__col" style="background-image: url({{ asset('uploads/images/chr.png') }});">


               <button class="prehome__close js-prehome__close">
                   <svg class="icons">
                       <use xlink:href="bundles/cdp/images/sprite.svg#icon-close"></use>
                   </svg>
               </button>

               <h1 class="prehome__intro">
					<span class="prehome__intro-text">

						Prdouits<br />
CHR
					</span>

                   <span class="asterisme"></span>
               </h1>

               <div class="prehome__content">
                   <div class="prehome__i-am">Je suis</div>

                   <div class="prehome__job">


                       <br />
                       Restaurateur<br />
                       <br />
                       <span style="font-size:14px">(RESTAURATION RAPIDE)</span>
                       <span class="asterisme"></span>
                   </div>

                   <div class="prehome__action">
                       {% if(app.user != null) %}
                       {% if(is_granted('ROLE_CHR')) %}
                       <a href="{{ path('affiche_CategoriesCHR')}}" class="btn-ghost">Explorer</a>
                       {% endif %}
                       {% endif %}
                       <a href="{{ path('login_part')}}" class="btn-ghost">Explorer</a>

                   </div>
               </div>
           </div>

        </div>


    </div>
</div>
<script defer src="{{ asset('template/senzo-core/web-app/require9823.js?bundle=CDPBundle&amp;items=app/script,header-modal-contact') }}"></script>	</body>

<!-- Mirrored from www.coupdepates.fr/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Jan 2020 09:06:14 GMT -->
</html>
