<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<!-- Mirrored from www.coupdepates.fr/liste-produits by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Jan 2020 09:07:00 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>Qui sommes nous?</title><meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link href={{ asset('template/bundles/cdp/images/logos/logo_fino.png') }} rel="icon" />
    <link href="{{ asset('template/cache-buster-1570113083/bundles/cdp/css/styles.min.css') }}" media="" rel="stylesheet" type="text/css" /><script defer="defer" src="{{ asset('template/cache-buster-1556112614/bundles/senzocore/js/lib/polyfills/polyfills.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1561972607/bundles/senzocore/js/lib/polyfills/extensions.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1553600510/bundles/cdp/js/polyfills/svgxuse.min.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1553600510/bundles/cdp/js/polyfills/css-variables.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1556548469/bundles/cdp/js/libs/swiper.min.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1564649394/bundles/cdp/js/modules/beautified-select.js') }}"></script>
    <script>
        //<!--
        Object.defineProperty(window, "recaptcha_key_public", { value: "6Lelx6AUAAAAAK_5SBiXNy41lkBfBLw3nKMp-fNH" });    //-->
    </script>
    {% block stylesheet %}
    {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16084831-1"></script>
    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());


        gtag('config', 'UA-16084831-1', {"anonymize_ip":true});

    </script>
</head>
<body id="senzo_production">

<header class="header">
    <div class="header-top">
        <a href="{{ path('home_page') }}" title="Je souhaite changer d'univers">Je souhaite changer d'univers<svg class="icons change"><use xlink:href="../bundles/cdp/images/sprite.svg#icon-change"></use></svg></a>	</div>

    <div class="header-bottom">
        <a href="{{ path('home_page') }}" class="logo">
            <img src="{{ asset('template/bundles/cdp/images/logo_fino.png') }}" width="120" height="20" alt="Logo FINO">
        </a>

        <!-- Hamburger menu -->
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <!-- End Hamburger menu -->

        <ul class="menu">
            <li>
                <a href="#" title="Histoire & Vision">Votre partenaire</a>
                <button class="toggle-accordion">
                    <svg class="icon-chevron">
                        <use xlink:href="bundles/cdp/images/sprite.svg#icon-chevron"></use>
                    </svg>
                </button>

                <ul class="submenu">

                    <li>
                        <a href="{{ path('aproposchr') }}" title="Histoire & Vision">Qui sommes nous ?</a>									</li>

                </ul>
            </li>
            <li>
                <a href="{{ path('affiche_CategoriesCHR')}}" title="Nos produits">Nos produits</a>
            </li>
            <li>
                <a href="{{ path('service_chr') }}" title="Nos services">Nos services</a>
            </li>


            {% if user != null %}
                <li>
                    <a href="{{ path('profile') }}" title="Profile">Profile</a>
                    <button class="toggle-accordion">
                        <svg class="icon-chevron">
                            <use xlink:href="bundles/cdp/images/sprite.svg#icon-chevron"></use>
                        </svg>
                    </button>

                    <ul class="submenu">

                        <li>
                            <a href="{{ path('get_panier') }}" title="Panier">Mon Panier</a>	</li>
                        <li>
                            <a href="{{ path('affiche_cmd') }}" title="Commande">Mes Commandes</a>	</li>

                    </ul>
                </li>
                <li >
                    <a href="{{ path('logout_part') }}" title="déconnexion">Déconnexion</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('contactchr') }}" title="Contact">Contact</a>
            </li>
            <li>
        </ul>

        <ul class="menu-pictos">
            <li class="phone" data-content-popin-trigger="call-modal">
                <svg class="icons">
                    <use xlink:href="bundles/cdp/images/sprite.svg#icon-tel"></use>
                </svg>
            </li>
        </ul>
    </div>
</header>

<script defer src="{{ asset('template/bundles/cdp/js/compiled/tool/debounce_event.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/model/Product.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/model/Recipe.js') }}"></script>

<script defer src="{{ asset('template/bundles/cdp/js/compiled/model/Product.js') }}"></script>
<main class="main page-product-list">
    <breadcrumb-block>
        {% block menu %}
            <div class="wrapper">
		<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('home_page') }}" itemprop="url">
				<span itemprop="title">Accueil</span>
			</a>
            <svg class="icon-chevron">
                <use xlink:href="{{ asset('template/bundles/cdp/images/sprite.svg#icon-chevron') }}"></use>
            </svg>
		</span>
                <span>
			Qui sommes nous ?	</span>


            </div>
        {% endblock %}
    </breadcrumb-block>

    {% block barre %}
        <div class="page-top" style="background-image: url({{ asset('uploads/images/histoire.jpg') }})">


            <!-- <div class="title-1">Collaboration</div> -->
            <h1 class="title-1">
                Qui sommes nous ?	</h1>
        </div>
    {% endblock %}

    <div class="page-content">
        {% block body %}
            <div class="page-content">
                <div class="wrapper">
                    <div class="page-intro">
                    </div>
                </div>

                <div class="text">
                    <section class="cms-section cms-section--1">
                        <div class="wrapper">
                            <div class="cms-details">
                                <h2 class="title-exception-1">
                                    <small>MIPA</small>
                                    Excellence, passion, proximité depuis 1990
                                    <span class="asterisme-2"></span>
                                </h2>

                                <div class="cms-content">
                                    Dans les années 50, Georges Hubert, boulanger de métier, a l’idée de faciliter l’approvisionnement des professionnels de la Boulangerie Pâtisserie et crée une société de distribution d’ingrédients et de matières premières : beurre, œufs et fromage. Transmise à son fils, Bernard, dans les années 70, celui-ci assure sa pérennité. Créatif et bien dans son époque, il profite des évolutions techniques et sociétales pour lancer une marque de produits surgelés, semi-finis et finis : c’est ainsi que naît Coup de pates® en 1990.				</div>

                                <div class="cms-action">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="text">
                    <section class="cms-section cms-section--2">
                        <div class="wrapper">
                            <div class="cms-visual">
                                <img width="540" height="370" alt="" title="" src="../coup-de-pates/Documents/coup-de-pates/content/image-thumb__5913__CDP_scaleByWidth_540/histoire.jpg" srcset="/coup-de-pates/Documents/coup-de-pates/content/image-thumb__5913__CDP_scaleByWidth_540/histoire.jpeg 1x, /coup-de-pates/Documents/coup-de-pates/content/image-thumb__5913__CDP_scaleByWidth_540/histoire@2x.jpeg 2x" />			</div>

                            <div class="cms-details">

                                <div class="cms-content">
                                    La marque française est si vite intégrée dans le paysage professionnel des métiers de bouche, <strong>que Coup de pates® est surnommée ‘l’ami des artisans’</strong>, notamment pour la <strong>haute valeur de ses produits</strong>. On sait donc d’où vient <strong>la qualité de la relation de Coup de pates® avec ses clients</strong> !<br />
                                    <br />
                                    Société́ familiale qui a su s’affirmer par son esprit inventif et son audace, la société alors quinquagénaire intègre le <a href="https://www.aryztafoodsolutions.fr/notre-societe" target="_blank">Groupe ARYZTA</a> en 2004. Conscient de la véritable pépite que représente Coup de pates®, ARYZTA soutient le positionnement de la marque. Coup de pates® poursuit son développement par la distribution de produits finis et semi-finis de haute qualité.				</div>

                                <div class="cms-action">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="text">
                    <section class="cms-section cms-section--1">
                        <div class="wrapper">
                            <div class="cms-details">

                                <div class="cms-content">
                                    <strong>La marque Coup de pates® est aujourd’hui distribuée en France et Belgique, ainsi que dans plus de 13 autres filiales dans le monde.</strong> Elle mobilise plus de 900 employés dont 280 commerciaux et télévendeurs en métropole. Les autres marques <a href="https://www.aryztafoodsolutions.fr/">d’Aryzta Food Solution France</a> ont aussi le vent en poupe : <a href="https://www.aryztafoodsolutions.fr/marques/La-Carte-d-Hubert">La Carte d’Hubert®</a>, des produits bruts et semi finis complémentaires de Coup de pates®, destinés aux professionnels des métiers de bouche, notamment pour le snacking et la restauration, Otis®, un concept clé en main de délicieuses viennoiseries américaines et <a href="https://www.aryztafoodsolutions.fr/marques/Nos-Solutions-Cafe-Starbucks">Seattle’s Best Coffee</a>, pour élargir vos propositions aux boissons Café Starbucks®.				</div>

                                <div class="cms-action">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="text">
                    <section class="cms-section cms-section--2">
                        <div class="wrapper">
                            <div class="cms-visual">
                                <img width="540" height="581" alt="" title="" src="../_default_upload_bucket/image-thumb__5890__CDP_scaleByWidth_540/cdp-frederic-giraud.jpg" srcset="/_default_upload_bucket/image-thumb__5890__CDP_scaleByWidth_540/cdp-frederic-giraud.jpeg 1x, /_default_upload_bucket/image-thumb__5890__CDP_scaleByWidth_540/cdp-frederic-giraud@2x.jpeg 2x" />			</div>

                            <div class="cms-details">

                                <div class="cms-content">
                                    <h2><strong>Questions à Frédéric Giraud, Président d’ARYZTA France</strong></h2>

                                    <p><strong><em>Comment qualifiez-vous l’offre de Coup de pates® ?</em></strong><br />
                                        <span style="color:var(--color4)">Nous sommes des spécialistes des métiers de bouche ; la gamme Coup de pates® est à la fois large et profonde. Ses produits sont appréciés parce qu’ils sont sains et de bon goût.</span><br />
                                        <br />
                                        <em><strong>Et du côté de l’innovation&nbsp;? </strong></em><br />
                                        Coup de pates® apporte <strong>des nouveautés 2 fois par an</strong> à sa gamme de produits. Chaque nouveauté fait l’objet d’une recherche du meilleur partenaire spécialiste ; nos choix sont effectués dans le respect de nos clients et des consommateurs. Nous avons notre propre département de R&amp;D qui imagine et développe les produits de demain ; parfois sur mesure, pour les grands comptes. Il fait aussi appel <strong>aux compétences des meilleurs spécialistes</strong> du marché sur certains sujets, comme <a href="https://geniusglutenfree.com/fr_fr">Genius</a>, pour le sans gluten ou le groupe <a href="https://www.andros.fr/">Andros</a>, pour le croissant à la confiture Bonne Maman®.&nbsp;<br />
                                        <br />
                                        <em>Photo - Frédéric Giraud, Président ARYZTA France®</em></p>
                                </div>

                                <div class="cms-action">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="text">
                    <section class="cms-section cms-section--1">
                        <div class="wrapper">
                            <div class="cms-details">

                                <div class="cms-content">
                                    <em><strong>Pourquoi les professionnels sont-ils fidèles à Coup de pates® ?&nbsp;</strong></em><br />
                                    <strong>Toutes nos solutions sont centrées sur nos clients et nous avons su bâtir avec eux des relations durables.</strong> Au-delà de son offre de produits, <strong>la haute fiabilité de nos services</strong> contribue à la <strong>qualité de notre relation</strong>. Nous faisons preuve à la fois de rigueur et de flexibilité, avec un taux de service logistique de 99% et une capacité à rendre service si besoin. Nous évoluons au fil des années et notamment sur le digital qui constitue un véritable challenge et aussi une opportunité pour la profession.<br />
                                    <br />
                                    <em><strong>Quelle est la valeur ajoutée de Coup de pates® ?</strong></em><br />
                                    Lorsque les artisans souhaitent se développer, nous leur apportons <strong>des solutions pérennes à travers des produits qui leur permettent de répondre aux différents instants de consommation :</strong> du petit-déjeuner &nbsp;au diner. Nos équipes commerciales les conseillent au plus près de leur besoin et nous leur apportons la possibilité de vendre des produits qu’ils n’ont pas le temps ou la possibilité de préparer. <strong>Chaque métier de bouche va trouver chez Coup de pates® le complément indispensable à son savoir-faire, notamment pour répondre à la tendance de la restauration à emporter.</strong><br />
                                    <br />
                                    <span style="font-size:22px"><em><strong>Passion, excellence et proximité sont les 3 valeurs fortes que véhicule Coup de pates® …</strong></em></span><br />
                                    &nbsp;				</div>

                                <div class="cms-action">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        {% endblock %}
        {% block produit %}
        {% endblock %}

        <div class="text">
            <section class="promo-section">
                <div class="wrapper wrapper--wide">

                    <div class="promo-section-item" style="background-image: url({{ asset('template/coup-de-pates/Documents/coup-de-pates/footer/visuel-telephone.jpg') }});">

                        <h3 class="promo-section-title">
                            Une question<br />
                            au sujet de nos produits ?				</h3>

                        <span class="asterisme"></span>

                        <div class="promo-section-action">
                            <a href="{{ path('contact') }}" class="btn-2" title="CONTACTEZ-NOUS">CONTACTEZ-NOUS</a>				</div>
                    </div>


                    <div class="promo-section-item" style="background-image: url({{ asset('template/coup-de-pates/Documents/coup-de-pates/footer/visuel-acheter.jpg') }});">

                        <h3 class="promo-section-title">
                            ACHETEZ NOS PRODUITS !<br />
                            Commandez en ligne dés maintenant.				</h3>

                        <span class="asterisme"></span>

                        <div class="promo-section-action">
                            <a href="e-shop.html" class="btn-2" title="Devenir client">Devenir client</a>				</div>
                    </div>
                </div>
            </section>
        </div>

    </div>

</main>

<footer class="footer">
    <div class="footer-top">
        <div class="wrapper">
            <div class="siteinfo-contact">
                <a href="boulanger-patissier.html">
                    <img class="logo" alt="Logo FINO" title="Logo FINO" src="{{ asset('template/bundles/cdp/images/logos/logo_fino.png') }}">
                </a>
            </div>

            <div class="siteinfo-links">
                <ul class="links-columns">
                    <li class="link-label-full no-link">
                        Votre partenaire					</li>

                    <li class="link-field">
                        <a href="content/histoire.html" title="Histoire & Vision">Qui sommes nous ?</a>													<a href="content/engagements.html" title="Engagements">Engagements</a>													<a href="content/demarche.html" title="Démarche qualité">Démarche qualité</a>													<a href="content/innovation.html" title="Innovation">Innovation</a>													<a href="content/proximite.html" title="Proche de vous">Proche de vous</a>													<a href="collaborations.html" title="Collaborations">Collaborations</a>											</li>
                </ul>

                <ul class="links-columns">
                    <li class="link-label">
                        <a href="liste-produits.html" title="Nos produits">Nos produits</a>						</li>
                    <li class="link-label">
                        <a href="boulanger-patissier/nos-services.html" title="Nos services">Nos services</a>						</li>
                    <li class="link-label">
                        <a href="actualites.html" title="Actualités">Actualités</a>						</li>

                </ul>

                <ul class="links-columns">

                    <li class="link-label">
                        <a href="contact.html" title="Contactez-nous">Contactez-nous</a>						</li>

                </ul>

                <div class="social">
                    <span class="join-us">Nous rejoindre sur les réseaux :</span>
                    <div class="social-links">


                        <a href="#" title="Facebook"><img alt="" title="" src="{{ asset('template/coup-de-pates/Documents/coup-de-pates/icon-fb.png') }}" /></a>


                        <a href="#" title="Instagram"><img alt="" title="" src="{{ asset('template/coup-de-pates/Documents/coup-de-pates/icon-instagram.png') }}" /></a>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <back-totop class="js-back-to-top">
        <svg class="icon-arrow">
            <use xlink:href="{{ asset('template/bundles/cdp/images/sprite.svg#icon-arrow') }}"></use>
        </svg>
    </back-totop>


</footer>

<script defer src="{{ asset('template/senzo-core/web-app/require8dc4.js?bundle=CDPBundle&amp;items=app/script,header-modal-contact,product-listing') }}"></script>	</body>

<!-- Mirrored from www.coupdepates.fr/liste-produits by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Jan 2020 09:07:26 GMT -->
</html>
