<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<!-- Mirrored from www.coupdepates.fr/liste-produits by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Jan 2020 09:07:00 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>Contact - MIPA</title><meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link href={{ asset('template/bundles/cdp/images/logos/logo_fino.png') }} rel="icon" />
    <link href="{{ asset('template/cache-buster-1570113083/bundles/cdp/css/styles.min.css') }}" media="" rel="stylesheet" type="text/css" /><script defer="defer" src="{{ asset('template/cache-buster-1556112614/bundles/senzocore/js/lib/polyfills/polyfills.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1561972607/bundles/senzocore/js/lib/polyfills/extensions.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1553600510/bundles/cdp/js/polyfills/svgxuse.min.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1553600510/bundles/cdp/js/polyfills/css-variables.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1556548469/bundles/cdp/js/libs/swiper.min.js') }}"></script>
    <script defer="defer" src="{{ asset('template/cache-buster-1564649394/bundles/cdp/js/modules/beautified-select.js') }}"></script>
    <script>
        //<!--
        Object.defineProperty(window, "recaptcha_key_public", { value: "6Lelx6AUAAAAAK_5SBiXNy41lkBfBLw3nKMp-fNH" });    //-->
    </script>
    {% block stylesheet %}
    {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16084831-1"></script>
    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());


        gtag('config', 'UA-16084831-1', {"anonymize_ip":true});

    </script>
</head>
<body id="senzo_production">

<header class="header">
    <div class="header-top">
        <a href="{{ path('home_page') }}" title="Je souhaite changer d'univers">Je souhaite changer d'univers<svg class="icons change"><use xlink:href="{{ asset('template/bundles/cdp/images/sprite.svg#icon-change') }}"></use></svg></a>	</div>

    <div class="header-bottom">
        <a href="{{ path('home_page') }}" class="logo">
            <img src="{{ asset('template/bundles/cdp/images/logo_fino.png') }}" width="120" height="20" alt="Logo FINO">
        </a>

        <!-- Hamburger menu -->
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <!-- End Hamburger menu -->

        <ul class="menu">
            <li>
                <a href="#" title="Histoire & Vision">Votre partenaire</a>
                <button class="toggle-accordion">
                    <svg class="icon-chevron">
                        <use xlink:href="{{ asset('template/bundles/cdp/images/sprite.svg#icon-chevron') }}"></use>
                    </svg>
                </button>

                <ul class="submenu">

                    <li>
                        <a href="{{ path('aproposchr') }}" title="Histoire & Vision">Qui sommes nous ?</a>									</li>

                </ul>
            </li>
            <li>
                <a href="{{ path('affiche_CategoriesCHR')}}" title="Nos produits">Nos produits</a>
            </li>
            <li>
                <a href="{{ path('service_chr') }}" title="Nos services">Nos services</a>
            </li>


            {% if user != null %}
                <li>
                    <a href="{{ path('profile') }}" title="Profile">Profile</a>
                    <button class="toggle-accordion">
                        <svg class="icon-chevron">
                            <use xlink:href="{{ asset('template/bundles/cdp/images/sprite.svg#icon-chevron') }}"></use>
                        </svg>
                    </button>

                    <ul class="submenu">

                        <li>
                            <a href="{{ path('get_panier') }}" title="Panier">Mon Panier</a>	</li>
                        <li>
                            <a href="{{ path('affiche_cmd') }}" title="Commande">Mes Commandes</a>	</li>

                    </ul>
                </li>
                <li >
                    <a href="{{ path('logout_part') }}" title="déconnexion">Déconnexion</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('contactchr') }}" title="Contact">Contact</a>
            </li>
            <li>
        </ul>

        <ul class="menu-pictos">
            <li class="phone" data-content-popin-trigger="call-modal">
                <svg class="icons">
                </svg>
            </li>
        </ul>
    </div>
</header>

<script defer src="{{ asset('template/bundles/cdp/js/compiled/tool/debounce_event.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/model/Product.js') }}"></script>
<script defer src="{{ asset('template/bundles/cdp/js/compiled/model/Recipe.js') }}"></script>

<script defer src="{{ asset('template/bundles/cdp/js/compiled/model/Product.js') }}"></script>
<main class="main page-product-list">
    <breadcrumb-block>
        {% block menu %}
            <div class="wrapper">
		<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('home_page') }}" itemprop="url">
				<span itemprop="title">Accueil</span>
			</a>
            <svg class="icon-chevron">
                <use xlink:href="{{ asset('template/bundles/cdp/images/sprite.svg#icon-chevron') }}"></use>
            </svg>
		</span>
                <span>
			Contact	</span>


            </div>
        {% endblock %}
    </breadcrumb-block>

    {% block barre %}
        <div class="page-top" style="background-image: url({{ asset('uploads/images/contact.jpg') }})">


            <!-- <div class="title-1">Collaboration</div> -->
            <h1 class="title-1">
                Contact	</h1>
        </div>
    {% endblock %}

    <div class="page-content">
        {% block body %}
            <div class="page-content">
                <div class="wrapper-content-form">
                    <div class="wrapper">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash-notice">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <h2 class="title-2">
                            Complétez le formulaire ci-dessous pour contacter notre service client :				</h2>
                        <form method="POST"  action="{{ path('contact') }}">
                            <form-global-message class="is-hidden"></form-global-message>
                            <div class="form-row">
                                <label class="form-bloc">
                                    <input type="text" name="lastname" pattern="[a-zA-ZÀÁÂÃÄÅàáâãäåÈÉÊËèéêëÌÍÎÏìíîïÒÓÔÕÖóòôõöÙÚÛÜúùûüÝŸýÿÑñÇçßØøÆæŒœ '-]+" placeholder="Nom*" required />
                                    <div class="form-error-message"></div>
                                </label>

                                <label class="form-bloc">
                                    <input type="text" name="firstname" pattern="[a-zA-ZÀÁÂÃÄÅàáâãäåÈÉÊËèéêëÌÍÎÏìíîïÒÓÔÕÖóòôõöÙÚÛÜúùûüÝŸýÿÑñÇçßØøÆæŒœ '-]+" placeholder="Prénom*" required />
                                    <div class="form-error-message"></div>
                                </label>
                            </div>

                            <div class="form-row">
                                <label class="form-bloc">
                                    <input type="email" name="email" placeholder="E-mail*" required />
                                    <div class="form-error-message"></div>
                                </label>

                                <label class="form-bloc">
                                    <input type="tel" name="phone" placeholder="Téléphone*" required />
                                    <div class="form-error-message"></div>
                                </label>
                            </div>

                            <div class="form-row">
                                <label class="form-bloc">
                                    <input type="text" name="company" pattern="[0-9a-zA-ZÀÁÂÃÄÅàáâãäåÈÉÊËèéêëÌÍÎÏìíîïÒÓÔÕÖóòôõöÙÚÛÜúùûüÝŸýÿÑñÇçßØøÆæŒœ '-]+" placeholder="Société"  />
                                    <div class="form-error-message"></div>
                                </label>
                            </div>

                            <div class="form-bloc">
                                <label>
                                    <textarea name="message" placeholder="Message"></textarea>
                                    <div class="form-error-message"></div>
                                </label>
                            </div>

                            <div class="form-bloc check-cgv">
                                <label>
                                    <div class="form-error-message"></div>
                                </label>
                            </div>

                            <button type="submit" name="valider" class="btn-2">Envoyer</button>
                            <p class="mandatory">* Champs obligatoires</p>


                        </form>
                    </div>
                </div></div>
        {% endblock %}
        {% block produit %}
        {% endblock %}

        <div class="page-bottom">
            <div class="wrapper">
                <div class="card-promo card-promo--big">

                    <div class="card-promo-img">
                        <img width="40" height="34" alt="" title="" src="{{ asset('template/coup-de-pates/Pictos%20DA/icon-paperplane.svg') }}" />        </div>

                    <div class="card-promo-title">
                        SIÈGE SOCIAL
                        <span class="asterisme-2"></span>
                    </div>

                    <div class="card-promo-text">
                        <strong>MIPA</strong><br />
                        22 Rue de l'énergie solaire, 1 2035<br /><br/>
                        Tél. : 71 804 805</div>

                    <div class="card-promo-action">

                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

<footer class="footer">
    <div class="footer-top">
        <div class="wrapper">
            <div class="siteinfo-contact">
                <a href="boulanger-patissier.html">
                    <img class="logo" alt="Logo FINO" title="Logo FINO" src="{{ asset('template/bundles/cdp/images/logos/logo_fino.png') }}">
                </a>
            </div>

            <div class="siteinfo-links">
                <ul class="links-columns">
                    <li class="link-label-full no-link">
                        Votre partenaire					</li>

                    <li class="link-field">
                        <a href="content/histoire.html" title="Histoire & Vision">Qui sommes nous ?</a>													<a href="content/engagements.html" title="Engagements">Engagements</a>													<a href="content/demarche.html" title="Démarche qualité">Démarche qualité</a>													<a href="content/innovation.html" title="Innovation">Innovation</a>													<a href="content/proximite.html" title="Proche de vous">Proche de vous</a>													<a href="collaborations.html" title="Collaborations">Collaborations</a>											</li>
                </ul>

                <ul class="links-columns">
                    <li class="link-label">
                        <a href="liste-produits.html" title="Nos produits">Nos produits</a>						</li>
                    <li class="link-label">
                        <a href="boulanger-patissier/nos-services.html" title="Nos services">Nos services</a>						</li>
                    <li class="link-label">
                        <a href="actualites.html" title="Actualités">Actualités</a>						</li>

                </ul>

                <ul class="links-columns">

                    <li class="link-label">
                        <a href="contact.html" title="Contactez-nous">Contactez-nous</a>						</li>

                </ul>

                <div class="social">
                    <span class="join-us">Nous rejoindre sur les réseaux :</span>
                    <div class="social-links">


                        <a href="#" title="Facebook"><img alt="" title="" src="{{ asset('template/coup-de-pates/Documents/coup-de-pates/icon-fb.png') }}" /></a>


                        <a href="#" title="Instagram"><img alt="" title="" src="{{ asset('template/coup-de-pates/Documents/coup-de-pates/icon-instagram.png') }}" /></a>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <back-totop class="js-back-to-top">
        <svg class="icon-arrow">
            <use xlink:href="{{ asset('template/bundles/cdp/images/sprite.svg#icon-arrow') }}"></use>
        </svg>
    </back-totop>


</footer>

<script defer src="{{ asset('template/senzo-core/web-app/require8dc4.js?bundle=CDPBundle&amp;items=app/script,header-modal-contact,product-listing') }}"></script>	</body>

<!-- Mirrored from www.coupdepates.fr/liste-produits by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Jan 2020 09:07:26 GMT -->
</html>
