{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1> Produit GMS</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active"> Produits GMS</li>
                        <li class="active">Ajout</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        {% for flashMessage in app.session.flashbag.get('Notice') %}
            <ul><li class="alert-success">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
        {% for flashMessage in app.session.flashbag.get('Erreur') %}
            <ul><li class="alert-danger">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
        <br/>

        <div class="content mt-3">
            <div class="col-lg-6">
                <div class="align-content-center">
                    <div class="card">
                        <div class="card-header">
                            <strong>Nouveau Produit</strong>
                        </div>

                        <div class="card-body card-block">

                            {{ form_start(form) }}
                            <form method="post" action="{{ path('ajoutCategorie') }}">
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    {{ form_label(form.nom,'*Nom:') }}
                                    {{ form_errors(form.nom) }}
                                    {{ form_widget(form.nom) }}
                                </div>


                                <div class="form-group">
                                    {{ form_label(form.filename,'Image:') }}
                                    {{ form_errors(form.filename) }}
                                    {{ form_widget(form.filename) }}
                                </div>


                                <div class="card-footer">
                                    {{ form_rest(form) }}

                                    <input type="submit" value="Valider" class="btn btn-success btn-sm">

                                    <input type="reset" value="Réinitialiser" class="btn btn-danger btn-sm">
                                </div>

                            </form>
                            {{ form_end(form) }}


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}