<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ asset('templateAdmin/apple-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset('templateAdmin/images/tn.png') }}">

    <link rel="stylesheet" href="{{ asset('templateAdmin/assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('templateAdmin/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('templateAdmin/assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('templateAdmin/assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('templateAdmin/assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('templateAdmin/assets/css/cs-skin-elastic.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{{ asset('templateAdmin/assets/scss/style.css') }}">

    <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800') }}" rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body class="bg-dark">


<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="content" style="margin-top: 100px">

        {% for flashMessage in app.session.flashbag.get('Notice') %}
            <ul><li class="alert-success">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
        {% for flashMessage in app.session.flashbag.get('Erreur') %}
            <ul><li class="alert-danger">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
    </div>
    <br/>
    <div class="container">
        <div class="login-content">
            <div class="login-logo">

            </div>
            <div class="login-form">
                <form action="{{ path('login_admin') }}" method="post">
                    <div class="form-group">
                        <label>Login</label>
                        <input type="text" class="form-control" placeholder="Login" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" placeholder="Mot de passe" id="password" name="password">
                    </div>

                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" id="cnx" name="cnx">Connexion</button>


                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{ asset('templateAdmin/assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('templateAdmin/assets/js/popper.min.js') }}"></script>
<script src="{{ asset('templateAdmin/assets/js/plugins.js') }}"></script>
<script src="{{ asset('templateAdmin/assets/js/main.js') }}"></script>


</body>
</html>
