{% extends 'baseAdmin.html.twig' %}


{% block body %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1> Utilisateurs Particuliers</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active"> Utilisateurs Particuliers</li>
                        <li class="active">Afficher tout</li>
                        <li class="active">Modifier</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="content">

        {% for flashMessage in app.session.flashbag.get('Notice') %}
            <ul><li class="alert-success">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
        {% for flashMessage in app.session.flashbag.get('Erreur') %}
            <ul><li class="alert-danger">
                    {{flashMessage}}
                </li></ul>
        {% endfor%}
        <br/>
        <a href="{{ path('afficheallpart') }}">Retour à la liste</a>

    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">

                <strong>Modification</strong> Utilisateur
            </div>
            <div class="card-body card-block">
                <form action="{{ path('modifierpart',{'id':p.id}) }}" method="post" enctype="multipart/form-data">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Prénom:</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="prenom" name="prenom" value="{{ p.prenom }}" class="form-control" required></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Nom:</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="nom" name="nom" value="{{ p.nom }}" class="form-control" required></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Adresse:</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="adresse" name="adresse" value="{{ p.adresse }}" class="form-control" required></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Téléphone</label></div>
                        <div class="col-12 col-md-9"><input type="tel" id="telephone" name="telephone" value="{{ p.telephone }}" class="form-control" required></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Email</label></div>
                        <div class="col-12 col-md-9"><input type="email" id="email" name="email" value="{{ p.email }}" class="form-control" required></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Nom utilisateur</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="username" name="username" value="{{ p.username }}" class="form-control" required></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Nom Entreprise</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="nomEntreprise" name="nomEntreprise" value="{{ p.nomEntreprise }}" class="form-control" required></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Adresse Entreprise</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="adresseEntreprise" name="adresseEntreprise" value="{{ p.adresseEntreprise }}" class="form-control" required></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Email Entreprise</label></div>
                        <div class="col-12 col-md-9"><input type="email" id="emailEntreprise" name="emailEntreprise" value="{{ p.emailEntreprise }}" class="form-control" required></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">*Téléphone Entreprise</label></div>
                        <div class="col-12 col-md-9"><input type="tel" id="telephoneEntreprise" name="telephoneEntreprise" value="{{ p.telephoneEntreprise }}" class="form-control" required></div>
                    </div>


                    <div class="card-footer">
                        <input type="submit" class="btn btn-success btn-sm" id="valider" name="valider"></div>
                </form>

            </div>
        </div>
    </div>


{% endblock %}
